input#channelSearchKeyword {
    font: normal normal normal 13px/1.2em 'Open Sans',sans-serif;
    background-color: #FFFFFF;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 0px solid rgba(196, 196, 196, 1);
    color: #FFFFFF;
    margin: 0 0 15px;
    width: 100%;
}
input#searchbutton {
    background-color: rgba(97, 208, 212, 1);
    font: normal normal normal 16px/1.2em 'open sans',sans-serif;
    border: 0;
    color: #FFFFFF;
    cursor: pointer;
    float: right;
    margin: 0;
    max-width: 35%;
}
.SITE_ROOT {
    min-height: 100%;
    position: relative;
    margin: 0 auto;
}


html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
}

div {
    display: block;
}

body {
    font-size: 10px;
    font-family: 'Open Sans',sans-serif;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
}


.font_0 {
    font: normal normal bold 43px/1.2em 'Noticia Text', serif;
    color: #4D4D4D;
}

.s1 h1 {
    margin: 0;
    line-height: normal;
    letter-spacing: normal;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

:focus {
    outline: 0;
}

ins {
    text-decoration: none;
}

del {
    text-decoration: line-through;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    cursor: pointer;
    text-decoration: none;
}

html, body {
    height: 100%;
}

body {
    overflow-x: auto;
    overflow-y: scroll;
}

.font_0 {
    font: normal normal bold 43px/1.2em 'Noticia Text', serif;
    color: #4D4D4D;
}

.font_1 {
    font: normal normal bold 14px/1.2em 'noticia text', serif;
    color: #4D4D4D;
}

.font_2 {
    font: normal normal normal 80px/1.2em 'noticia text', serif;
    color: #4D4D4D;
}

.font_3 {
    font: normal normal normal 80px/1.2em 'noticia text', serif;
    color: #4D4D4D;
}

.font_4 {
    font: normal normal normal 46px/1.2em 'noticia text', serif;
    color: #4D4D4D;
}

.font_5 {
    font: normal normal normal 19px/1.2em 'noticia text', serif;
    color: #4D4D4D;
}

.font_6 {
    font: normal normal normal 17px/1.2em 'noticia text', serif;
    color: #4D4D4D;
}

.font_7 {
    font: normal normal normal 16px/1.2em 'open sans', sans-serif;
    color: #4D4D4D;
}

.font_8 {
    font: normal normal normal 13px/1.2em 'Open Sans', sans-serif;
    color: #4D4D4D;
}

.font_9 {
    font: normal normal normal 12px/1.2em 'Open Sans', sans-serif;
    color: #4D4D4D;
}

.font_10 {
    font: normal normal normal 11px/1.2em 'Open Sans', sans-serif;
    color: #4D4D4D;
}

.color_0 {
    color: #12B7B3;
}

.backcolor_0 {
    background-color: #12B7B3;
}

.color_1 {
    color: #FFFFFF;
}

.backcolor_1 {
    background-color: #FFFFFF;
}

.color_2 {
    color: #000000;
}

.backcolor_2 {
    background-color: #000000;
}

.color_3 {
    color: rgba(0, 136, 203, 1);
}

.backcolor_3 {
    background-color: rgba(0, 136, 203, 1);
}

.color_4 {
    color: rgba(255, 203, 5, 1);
}

.backcolor_4 {
    background-color: rgba(255, 203, 5, 1);
}

.color_5 {
    color: rgba(237, 28, 36, 1);
}

.backcolor_5 {
    background-color: rgba(237, 28, 36, 1);
}

.color_6 {
    color: rgba(108, 60, 23, 1);
}

.backcolor_6 {
    background-color: rgba(108, 60, 23, 1);
}

.color_7 {
    color: rgba(108, 60, 23, 1);
}

.backcolor_7 {
    background-color: rgba(108, 60, 23, 1);
}

.color_8 {
    color: rgba(255, 255, 255, 1);
}

.backcolor_8 {
    background-color: rgba(255, 255, 255, 1);
}

.color_9 {
    color: rgba(133, 204, 204, 1);
}

.backcolor_9 {
    background-color: rgba(133, 204, 204, 1);
}

.color_10 {
    color: rgba(108, 60, 23, 1);
}

.backcolor_10 {
    background-color: rgba(108, 60, 23, 1);
}

.color_11 {
    color: rgba(234, 229, 229, 1);
}

.backcolor_11 {
    background-color: rgba(234, 229, 229, 1);
}

.color_12 {
    color: rgba(196, 196, 196, 1);
}

.backcolor_12 {
    background-color: rgba(196, 196, 196, 1);
}

.color_13 {
    color: rgba(139, 139, 139, 1);
}

.backcolor_13 {
    background-color: rgba(139, 139, 139, 1);
}

.color_14 {
    color: #4D4D4D;
}

.backcolor_14 {
    background-color: #4D4D4D;
}

.color_15 {
    color: #000000;
}

.backcolor_15 {
    background-color: #000000;
}

.color_16 {
    color: rgba(255, 255, 255, 1);
}

.backcolor_16 {
    background-color: rgba(255, 255, 255, 1);
}

.color_17 {
    color: #F093A4;
}

.backcolor_17 {
    background-color: #F093A4;
}

.color_18 {
    color: #E83556;
}

.backcolor_18 {
    background-color: #E83556;
}

.color_19 {
    color: #9B2439;
}

.backcolor_19 {
    background-color: #9B2439;
}

.color_20 {
    color: #4D121D;
}

.backcolor_20 {
    background-color: #4D121D;
}

.color_21 {
    color: #C5EFF1;
}

.backcolor_21 {
    background-color: #C5EFF1;
}

.color_22 {
    color: #A5E0E2;
}

.backcolor_22 {
    background-color: #A5E0E2;
}

.color_23 {
    color: #61D0D4;
}

.backcolor_23 {
    background-color: #61D0D4;
}

.color_24 {
    color: #418B8D;
}

.backcolor_24 {
    background-color: #418B8D;
}

.color_25 {
    color: #204547;
}

.backcolor_25 {
    background-color: #204547;
}

.color_26 {
    color: #F0ECAE;
}

.backcolor_26 {
    background-color: #F0ECAE;
}

.color_27 {
    color: #E0DC84;
}

.backcolor_27 {
    background-color: #E0DC84;
}

.color_28 {
    color: #D1C926;
}

.backcolor_28 {
    background-color: #D1C926;
}

.color_29 {
    color: #8B8619;
}

.backcolor_29 {
    background-color: #8B8619;
}

.color_30 {
    color: #46430D;
}

.backcolor_30 {
    background-color: #46430D;
}

.color_31 {
    color: #F8ADCE;
}

.backcolor_31 {
    background-color: #F8ADCE;
}

.color_32 {
    color: #F184B3;
}

.backcolor_32 {
    background-color: #F184B3;
}

.color_33 {
    color: #EB1572;
}

.backcolor_33 {
    background-color: #EB1572;
}

.color_34 {
    color: #9C0E4C;
}

.backcolor_34 {
    background-color: #9C0E4C;
}

.color_35 {
    color: #4E0726;
}

.backcolor_35 {
    background-color: #4E0726;
}

.s0screenWidthBackground {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.s0[data-state~="mobileView"] {
    position: absolute !important;
}

.s0[data-state~="fixedPosition"] {
    position: fixed !important;
    left: auto !important;
    z-index: 50;
}

.s0[data-state~="fixedPosition"].s0_footer {
    top: auto;
    bottom: 0;
}

.s0bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.s0inlineContent {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.s0centeredContent {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.s2itemsContainer {
    width: calc(100% - 0px);
    white-space: nowrap;
    position: relative;
    overflow: hidden;
}

.s2moreContainer {
    overflow: visible;
    display: inherit;
    white-space: nowrap;
    width: auto;
    background-color: rgba(234, 229, 229, 1);
    border-radius: 0;
}

.s2dropWrapper {
    z-index: 99999;
    display: block;
    opacity: 1;
    visibility: hidden;
    position: absolute;
    margin-top: 7px;
}

.s2dropWrapper[data-dropMode="dropUp"] {
    margin-top: 0;
    margin-bottom: 7px;
}

.s2repeaterButton {
    height: 100%;
    position: relative;
    box-sizing: border-box;
    display: inline-block;
    cursor: pointer;
    font: normal normal bold 14px/1.2em 'noticia text', serif;
}

.s2repeaterButton[data-state~="header"] a, .s2repeaterButton[data-state~="header"] div {
    cursor: default !important;
}

.s2repeaterButton_gapper {
    padding: 0 5px;
}

.s2repeaterButtonlabel {
    display: inline-block;
    padding: 0 10px;
    color: #8B8B8B;
    transition: color 0.4s ease 0s;
}

.s2repeaterButton[data-state~="drop"] {
    width: 100%;
    display: block;
}

.s2repeaterButton[data-state~="drop"] .s2repeaterButtonlabel {
    padding: 0 .5em;
}

.s2repeaterButton[data-state~="over"] .s2repeaterButtonlabel {
    color: #61D0D4;
    transition: color 0.4s ease 0s;
}

.s2repeaterButton[data-state~="selected"] .s2repeaterButtonlabel {
    color: #61D0D4;
    transition: color 0.4s ease 0s;
}

.s3screenWidthBackground {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.s3[data-state~="mobileView"] {
    position: absolute !important;
}

.s3[data-state~="fixedPosition"] {
    position: fixed !important;
    left: auto !important;
    z-index: 50;
}

.s3[data-state~="fixedPosition"].s3_footer {
    top: auto;
    bottom: 0;
}

.s3bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.s3inlineContent {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.s3centeredContent {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.s4 {
    height: 100px;
    width: 100px;
}

.s4overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.664);
}

.s4inlineContent {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.s5screenWidthBackground {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.s5[data-state~="mobileView"] {
    position: absolute !important;
}

.s5[data-state~="fixedPosition"] {
    position: fixed !important;
    left: auto !important;
    z-index: 50;
}

.s5[data-state~="fixedPosition"].s5_footer {
    top: auto;
    bottom: 0;
}

.s5bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.s5inlineContent {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.s5centeredContent {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.s6bg {
    background-color: rgba(232, 53, 86, 1);
    box-sizing: border-box;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-top: 0px solid rgba(232, 53, 86, 1);
    border-bottom: 0px solid rgba(232, 53, 86, 1);
}

.s6inlineContent {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.s7itemsContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    white-space: nowrap;
}

.s7itemsContainer > div:last-child {
    margin: 0 !important;
}

.s7[data-state~="mobileView"] .s7itemsContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    white-space: normal;
}

.s7imageItemlink {
    cursor: pointer;
}

.s7imageItemimageimage {
    position: static;
    box-shadow: #000 0 0 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.s12bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.s12[data-state~="mobileView"] .s12bg {
    left: 10px;
    right: 10px;
}

.s12inlineContent {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.s13_zoomedin {
    cursor: url(http://static.parastorage.com/services/skins/2.1229.62/images/wysiwyg/core/themes/base/cursor_zoom_out.png), url(http://static.parastorage.com/services/skins/2.1229.62/images/wysiwyg/core/themes/base/cursor_zoom_out.cur), auto;
    overflow: hidden;
    display: block;
}

.s13_zoomedout {
    cursor: url(http://static.parastorage.com/services/skins/2.1229.62/images/wysiwyg/core/themes/base/cursor_zoom_in.png), url(http://static.parastorage.com/services/skins/2.1229.62/images/wysiwyg/core/themes/base/cursor_zoom_in.cur), auto;
}

.s13link {
    display: block;
    border-radius: 50%;
    border: 0px solid rgba(234, 229, 229, 1);
    background-color: rgba(234, 229, 229, 1);
    overflow: hidden;
}

.s13img {
    border-radius: 50%;
    overflow: hidden;
}

.s13imgimage {
    position: static;
    box-shadow: #000 0 0 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.s14[data-state~="shouldUseFlex"] .s14link, .s14[data-state~="shouldUseFlex"] .s14labelwrapper {
    text-align: initial;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.s14[data-state~="shouldUseFlex"][data-state~="center"] .s14link, .s14[data-state~="shouldUseFlex"][data-state~="center"] .s14labelwrapper {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.s14[data-state~="shouldUseFlex"][data-state~="left"] .s14link, .s14[data-state~="shouldUseFlex"][data-state~="left"] .s14labelwrapper {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
}

.s14[data-state~="shouldUseFlex"][data-state~="right"] .s14link, .s14[data-state~="shouldUseFlex"][data-state~="right"] .s14labelwrapper {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}

.s14link {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(232, 53, 86, 1);
    transition: border 0.4s ease 0s, background-color 0.4s ease 0s;
    border: solid rgba(232, 53, 86, 1) 0px;
    border-radius: 50%;
}

.s14label {
    font: normal normal normal 13px/1.2em 'Open Sans', sans-serif;
    transition: color 0.4s ease 0s;
    color: #FFFFFF;
    display: inline-block;

    position: relative;
    white-space: nowrap;
}

.s14[data-disabled="false"] {
    cursor: pointer !important;
}

.s14[data-disabled="false"]:active[data-state~="mobile"] .s14link, .s14[data-disabled="false"]:hover[data-state~="desktop"] .s14link {
    background-color: rgba(155, 36, 57, 1);
    border: solid rgba(155, 36, 57, 1) ;
    transition: border 0.4s ease 0s, background-color 0.4s ease 0s;
}

.s14[data-disabled="false"]:active[data-state~="mobile"] .s14label, .s14[data-disabled="false"]:hover[data-state~="desktop"] .s14label {
    color: #FFFFFF;
    transition: color 0.4s ease 0s;
}

.s14[data-disabled="true"] .s14link {
    background-color: rgba(204, 204, 204, 1);
    border-color: rgba(204, 204, 204, 1);
}

.s14[data-disabled="true"] .s14label {
    color: #FFFFFF;
}

.s15[data-state~="shouldUseFlex"] .s15link, .s15[data-state~="shouldUseFlex"] .s15labelwrapper {
    text-align: initial;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.s15[data-state~="shouldUseFlex"][data-state~="center"] .s15link, .s15[data-state~="shouldUseFlex"][data-state~="center"] .s15labelwrapper {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.s15[data-state~="shouldUseFlex"][data-state~="left"] .s15link, .s15[data-state~="shouldUseFlex"][data-state~="left"] .s15labelwrapper {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
}

.s15[data-state~="shouldUseFlex"][data-state~="right"] .s15link, .s15[data-state~="shouldUseFlex"][data-state~="right"] .s15labelwrapper {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}

.s15link {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(97, 208, 212, 1);
    transition: border 0.4s ease 0s, background-color 0.4s ease 0s;
    border: solid rgba(97, 208, 212, 1) 0px;
    border-radius: 50%;
}

.s15label {
    font: normal normal normal 13px/1.2em 'Open Sans', sans-serif;
    transition: color 0.4s ease 0s;
    color: #FFFFFF;
    display: inline-block;
    position: relative;
    white-space: nowrap;
}

.s15[data-disabled="false"] {
    cursor: pointer !important;
}

.s15[data-disabled="false"]:active[data-state~="mobile"] .s15link, .s15[data-disabled="false"]:hover[data-state~="desktop"] .s15link {
    background-color: rgba(65, 139, 141, 1);
    border: solid rgba(65, 139, 141, 1) ;
    transition: border 0.4s ease 0s, background-color 0.4s ease 0s;
}

.s15[data-disabled="false"]:active[data-state~="mobile"] .s15label, .s15[data-disabled="false"]:hover[data-state~="desktop"] .s15label {
    color: #FFFFFF;
    transition: color 0.4s ease 0s;
}

.s15[data-disabled="true"] .s15link {
    background-color: rgba(204, 204, 204, 1);
    border-color: rgba(204, 204, 204, 1);
}

.s15[data-disabled="true"] .s15label {
    color: #FFFFFF;
}

.s16[data-state~="shouldUseFlex"] .s16link, .s16[data-state~="shouldUseFlex"] .s16labelwrapper {
    text-align: initial;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.s16[data-state~="shouldUseFlex"][data-state~="center"] .s16link, .s16[data-state~="shouldUseFlex"][data-state~="center"] .s16labelwrapper {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.s16[data-state~="shouldUseFlex"][data-state~="left"] .s16link, .s16[data-state~="shouldUseFlex"][data-state~="left"] .s16labelwrapper {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
}

.s16[data-state~="shouldUseFlex"][data-state~="right"] .s16link, .s16[data-state~="shouldUseFlex"][data-state~="right"] .s16labelwrapper {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}

.s16link {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(209, 201, 38, 1);
    transition: border 0.4s ease 0s, background-color 0.4s ease 0s;
    border: solid rgba(209, 201, 38, 1) 1px;
    border-radius: 50%;
}

.s16label {
    font: normal normal normal 13px/1.2em 'Open Sans', sans-serif;
    transition: color 0.4s ease 0s;
    color: #FFFFFF;
    display: inline-block;
    position: relative;
    white-space: nowrap;
}

.s16[data-disabled="false"] {
    cursor: pointer !important;
}

.s16[data-disabled="false"]:active[data-state~="mobile"] .s16link, .s16[data-disabled="false"]:hover[data-state~="desktop"] .s16link {
    background-color: rgba(139, 134, 25, 1);
    border: solid rgba(139, 134, 25, 1) ;
    transition: border 0.4s ease 0s, background-color 0.4s ease 0s;
}

.s16[data-disabled="false"]:active[data-state~="mobile"] .s16label, .s16[data-disabled="false"]:hover[data-state~="desktop"] .s16label {
    color: #FFFFFF;
    transition: color 0.4s ease 0s;
}

.s16[data-disabled="true"] .s16link {
    background-color: rgba(204, 204, 204, 1);
    border-color: rgba(204, 204, 204, 1);
}

.s16[data-disabled="true"] .s16label {
    color: #FFFFFF;
}

.s17[data-state~="shouldUseFlex"] .s17link, .s17[data-state~="shouldUseFlex"] .s17labelwrapper {
    text-align: initial;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.s17[data-state~="shouldUseFlex"][data-state~="center"] .s17link, .s17[data-state~="shouldUseFlex"][data-state~="center"] .s17labelwrapper {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.s17[data-state~="shouldUseFlex"][data-state~="left"] .s17link, .s17[data-state~="shouldUseFlex"][data-state~="left"] .s17labelwrapper {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
}

.s17[data-state~="shouldUseFlex"][data-state~="right"] .s17link, .s17[data-state~="shouldUseFlex"][data-state~="right"] .s17labelwrapper {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}

.s17link {
    border-radius: 3px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
}

.s17label {
    font: normal normal bold 14px/1.4em raleway, sans-serif;
    transition: color 0.4s ease 0s;
    color: #FFFFFF;
    display: inline-block;
    position: relative;
    white-space: nowrap;
}

.s17[data-state~="shouldUseFlex"] .s17label {
    margin: 0;
}

.s17[data-disabled="false"] .s17link {
    background-color: rgba(1, 177, 175, 1);
    border: solid rgba(0, 108, 109, 1) 0px;
    cursor: pointer !important;
}

.s17[data-disabled="false"]:active[data-state~="mobile"] .s17link, .s17[data-disabled="false"]:hover[data-state~="desktop"] .s17link {
    background-color: rgba(0, 108, 109, 1);
    border-color: rgba(1, 177, 175, 1);
}

.s17[data-disabled="false"]:active[data-state~="mobile"] .s17label, .s17[data-disabled="false"]:hover[data-state~="desktop"] .s17label {
    color: #FFFFFF;
}

.s17[data-disabled="true"] .s17link {
    background-color: rgba(204, 204, 204, 1);
    border-color: rgba(204, 204, 204, 1);
}

.s17[data-disabled="true"] .s17label {
    color: #FFFFFF;
}

.wixAdsmobileAd {
    width: 100%;
    height: 30px;
    position: relative;
    display: block;
    text-align: center;
    background-image: url(http://static.parastorage.com/services/skins/2.1229.62/images/wysiwyg/core/themes/base/wixads/BG91x1.jpg);
    background-repeat: repeat;
    background-size: 100% 30px;
    z-index: 999;
}

.wixAdsdesktopWADBottom {
    position: fixed;
    z-index: 999;
    width: 100%;
    bottom: 0;
    max-height: 10vh;
}

.wixAdsdesktopWADBottomContent {
    width: 100%;
    height: 40px;
    text-align: center;
    background-color: #404040;
    border-radius: 6px 6px 0 0;
    pointer-events: all;
    cursor: pointer;
}

.wixAdsdesktopWADBottomContent:hover {
    background-color: #222;
}

.wixAds[data-state~="facebook"] .wixAdsdesktopWADBottomContent {
    width: 500px;
    margin: 0 auto;
}

.wixAdsdesktopWADTop {
    position: fixed;
    z-index: 999;
    height: 26px;
    top: 0;
    right: 50px;
    overflow: hidden;
    background-color: #404040;
    border-radius: 0 0 6px 6px;
    pointer-events: all;
    cursor: pointer;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.wixAdsdesktopWADTop:hover {
    height: 97px;
    background-color: rgba(50, 50, 50, 0.8);
}

.wixAdsdesktopWADTop:hover .wixAdsdesktopWADTopLabel {
    background-color: #222;
}

.wixAdsdesktopWADTopLabel {
    padding: 6px;
    font-size: 13px;
    line-height: 1.3em;
    color: #FFF;
    width: 100%;
    font-size: 13px;
    color: #FFF;
    font-weight: bold;
    line-height: 18px;
    text-align: justify;
    padding: 5px 10px;
}

.wixAds[data-state~="desktop"] .wixAdsmobileAd {
    display: none;
}

.wixAds[data-state~="mobile"] .wixAdsdesktopWADTop {
    display: none;
}

.wixAds[data-state~="mobile"] .wixAdsdesktopWADBottom {
    display: none;
}

.wixAdsdesktopWADTopLabel .wixAds_smallMusa {
    display: inline-block;
    text-indent: -9999px;
    width: 16px;
    height: 16px;
    margin-right: 5px;
    background-image: url(http://static.parastorage.com/services/skins/2.1229.62/images/wysiwyg/core/themes/base/wixads/wf_label_static.png);
    background-repeat: no-repeat;
    background-position: 0% 0%;
}

.wixAdsdesktopWADTopLabel .wixAds_smallLogo {
    display: inline-block;
    text-indent: -9999px;
    width: 29px;
    height: 16px;
    background-image: url(http://static.parastorage.com/services/skins/2.1229.62/images/wysiwyg/core/themes/base/wixads/wf_label_static.png);
    background-repeat: no-repeat;
    background-position: -16px top;
}

.wixAdsdesktopWADTopContent {
    font-size: 13px;
    line-height: 1.3em;
    color: #ffffff;
    font-weight: bold;
    line-height: 18px;
    text-align: justify;
    padding: 5px 10px;
    width: 100%;
}

.wixAdsdesktopWADBottomContent .wixAds_faceBanner {
    background-color: rgba(64, 64, 64, 1);
    width: 500px;
    height: 100%;
    margin: 0 auto;
    border-radius: 6px 6px 0 0;
    padding: 5px 0 0 0;
}

.wixAdsdesktopWADBottomContent .wixAds_faceBanner div {
    display: inline-block;
    height: 30px;
}

.wixAdsdesktopWADBottomContent .wixAds_faceBanner .wixAds_txt {
    color: #fff;
    font-weight: bold;
    font-size: 15px;
    text-align: justify;
    margin: -2px 10px 0 19px;
}

.wixAdsdesktopWADBottomContent .wixAds_faceBanner .wixAds_logoDot {
    position: static;
    margin: 0 3px;
}

.wixAdsdesktopWADBottomContent .wixAds_faceBanner .wixAds_emphasis {
    font-weight: bold;
    position: relative;
    top: -6px;
}

.wixAdsdesktopWADTopContent .wixAds_spacer {
    line-height: 26px;
}

.wixAdsdesktopWADTopContent .wixAds_emphasis {
    color: #ffcc00;
}

.wixAdsdesktopWADTopContent .wixAds_cap {
    font-size: 16px;
    line-height: 1.3em;
    text-transform: uppercase;
}

.wixAdsdesktopWADTopContent .wixAds_face {
    display: block;
    line-height: 18px;
    text-align: justify;
    padding: 0 20px;
    width: 120px;
}

.wixAdsdesktopWADBottomContent .wixAds_adFootBox {
    height: 40px;
    width: 100%;
    text-align: center;
}

.wixAdsdesktopWADBottomContent .wixAds_siteBanner {
    background-color: rgba(64, 64, 64, 1);
    border-radius: 6px 6px 0 0;
    width: 100%;
    height: 100%;
    text-align: center;
}

.wixAdsdesktopWADBottomContent:hover .wixAds_siteBanner {
    background-color: #222;
}

.wixAdsdesktopWADBottomContent .wixAds_siteBanner .wixAds_wrapper {
    padding: 5px 0;
}

.wixAdsdesktopWADBottomContent .wixAds_siteBanner .wixAds_wrapper div {
    display: inline-block;
    height: 30px;
}

.wixAdsdesktopWADBottomContent .wixAds_bigMusa {
    text-indent: -9999px;
    width: 36px;
    background-image: url(http://static.parastorage.com/services/skins/2.1229.62/images/wysiwyg/core/themes/base/wixads/wf_label_static.png);
    background-repeat: no-repeat;
    background-position: left bottom;
    position: relative;
    top: -19px;
}

.wixAdsdesktopWADBottomContent.wixAds_nativeAndroid .wixAds_bigMusa {
    overflow: hidden;
}

.wixAdsdesktopWADBottomContent .wixAds_logoDot {
    text-indent: -9999px;
    width: 39px;
    height: 15px;
    position: relative;
    top: -4px;
    margin: 0 5px;
    background-image: url(http://static.parastorage.com/services/skins/2.1229.62/images/wysiwyg/core/themes/base/wixads/wf_label_static.png);
    background-repeat: no-repeat;
    background-position: right -17px;
}

.wixAdsdesktopWADBottomContent .wixAds_emphasis {
    color: #ffcc00;
    font-size: 16px;
    text-transform: uppercase;
}

.wixAdsdesktopWADBottomContent .wixAds_txt {
    color: #fff;
    font-weight: bold;
    font-size: 15px;
}

.wixAdsdesktopWADBottomContent .wixAds_siteBanner .wixAds_txt {
    line-height: 47px;
}

@media (orientation: landscape) {
    .wixAdsmobileAd {
        display: none;
    }
}

@media (orientation: landscape) {
    .wixAds_wixAds[data-state~="mobile"] {
        display: none;
    }
}

.mobileAppBannercontainer {
    position: relative;
    overflow: hidden;
    z-index: 99;
    height: 70px;
    background-color: #f2f2f2;
    border-bottom: 1px solid #d7d7d7;
}

.mobileAppBannercontainer > div {
    float: left;
    margin-left: 10px;
}

.mobileAppBannerclose > a {
    color: #777777;
    line-height: 70px;
    font-family: Helvetica, sans-serif, Arial;
    font-size: 14px;
}

.mobileAppBannericonbody {
    width: 40px;
    height: 40px;
    margin-top: 15px;
    border-radius: 10px;
    display: inline-block;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.mobileAppBannercontainer[data-device~="android"] .mobileAppBannericonbody {
    border-radius: 3px;
}

.mobileAppBannertext {
    color: #0d0d0d;
    line-height: 20px;
    margin-top: 15px;
}

.mobileAppBannerappname {
    font-family: "Helvetica Neue", Helvetica, sans-serif, Arial;
    font-size: 13px;
    font-weight: 600;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 175px;
}

.mobileAppBannertagline {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", Helvetica, sans-serif-light, Arial;
    font-size: 13px;
    font-weight: normal;
}

.mobileAppBannergetlink {
    color: #3798eb;
    line-height: normal;
    font-family: "HelveticaNeue-Medium", Helvetica, sans-serif, Arial;
    font-weight: 600;
    font-size: 13px;
}

.mobileAppBannercontainer[data-device~="apple"] .mobileAppBannergetlink {
    font-weight: 500;
}

.mobileAppBannerbaselinehack {
    height: 14px;
    line-height: 0px;
    display: inline-block;
}

.mobileAppBannerget {
    border: 1px solid #3798eb;
    border-radius: 3px;
    padding: 3px 10px;
    display: inline-block;
}

@media all and (max-width: 400px) and (min-width: 0px) {
    .mobileAppBannerget {
        position: absolute;
        top: 22.5px;
        right: 10px;
        float: none !important;
    }
}

@media all and (min-width: 401px) {
    .mobileAppBannerget {
        margin-top: 22.5px;
        margin-left: 30px !important;
    }
}

.deadComp {
    background: transparent;
}

.siteBackground {
    width: 100%;
    position: absolute;
}

.siteBackgroundbgBeforeTransition {
    position: absolute;
    top: 0;
}

.siteBackgroundbgAfterTransition {
    position: absolute;
    top: 0;
}
.strc1inlineContent {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.testStyles {
    position: absolute;
    display: none;
    z-index: 68
}
.font-ruler-content::after {
    content: "@#$%%^&*~IAO"
}

