
body {
    background-color: #eeeeee;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
}

tr.channelRow:hover {
    background: #eeeeee;
    cursor: pointer;
    cursor: hand;
}

tr.channelRow {
    text-align: left;
    border-bottom: 8px solid #eeeeee;
    background-color: #ffffff;
}

tr.channelRow td {
    padding-right: 15px;
}

table {
    border-collapse: collapse;
    margin: 0 auto
}

div#sitebackground {
    position: absolute;
    top: 0px;;
    left: 0px;
    right: 0px;
    height: 930px;
    background-color: #eae6e6;
    text-align: center;
    color: #4D4D4D;
}

div {
    display: block;
}

.header-menu {
    float: right;
    color: #EEEEEE;
    font-size: 11pt;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
    list-style-type: none;
}

.header-menu a {
    display: block;
    padding: 0px 7px 0px 7px;
    color: #fff;
    text-decoration: none;
}

#header-wrapper, #footer {
    width: 100%;
}

#header {
    height: 10px;
    color: #EEEEEE;
    width: 100%;
    background: #555555;
    margin: 0px auto;
    text-align: right;
    font-size: 11pt;
}

#logo-search-wrapper {
    width: 100%;
    height: 70px;
    background-color: #222222;
}

#logo-search {
    width: 1260px;
    height: 70px;
    margin: 0px auto;
}

#logo {
    width: 260px;
    height: 64px;
    margin: 0px;
    float: left;
    padding-top: 15px;
}

.logo-image {
    width: 32px;
    height: 32px;
    float: left;
}

.logo-text {
    display: inline-block;
    height: 50px;
    padding: 3px;
    padding-left: 10px;
    font-family: sans-serif;
    font-size: 25px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

#top-search {
    width: 1000px;
    height: 64px;
    margin: 0px;
    float: left;
}

#top-search-holder {
    width: 400px;
    height: 30px;
    line-height: 30px;
    margin-top: 9px;
    margin-right: 3px;
    float: right;
    background: #222222;
}

#topChannelSearchInput {
    border-radius: 5px;
    height: 30px;
    margin: 11px 0px;
    width: 350px;
    padding: 0px 20px;
    border: 0px;
    background: #fff;
    color: #666;
    outline: none;
    float: left;
    position: absolute;
    font-size: 12px;
}

.top-search-button {
    border: 0px;
    width: 30px;
    height: 30px;
    line-height: 45px;
    margin: 11px 0px 5px 312px;
    color: #333;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    background-color: white;
    border-radius: 5px;
}

.top-search-button span {
    display: inline-block;
    background: url("/resources/images/search-icon.png") no-repeat center center;
    width: 25px;
    height: 25px;

}

.youtube-icon {
    display: inline-block;
    background-image: url("/resources/images/youtube-icon.png");
    background-size: 38px, 38px;
    background-position: 0, 0;
    width: 38px;
    height: 30px;
    line-height: 30px;
    margin: 10px 10px 5px;
}

#top-red-line {
    background-color: #e04e43;
    width: 100%;
    height: 20px;
}

#main-block {
    width: 100%;
    height: 100%;
    background-color: #333333;
    background: url("/resources/images/main-background.jpg");
}

#main-text {
    padding: 120px 80px 50px 80px;
    width: 800px;
    text-align: center;
    margin: 0px auto;
    color: white;
}

#main-text h1 {
    padding-bottom: 20px;
    text-transform: uppercase;
    font-size: 3.0em;
    line-height: 1em;
}

#main-text h4 {
    font-weight: normal;
    color: #dddddd;
}

#main-search {
    width: 800px;
    margin: 0px auto;
}

.input-style {
    float: left;
    height: 60px;
    line-height: 60px;
    padding: 0px 30px;
    background: #fff;
    width: 670px;
    vertical-align: middle;
    border: none;
    border-radius: 5px;
    font-size: 15px;
}

#search-button {
    border-radius: 5px;
    float: right;
    border: 0px;
    height: 60px;
    width: 120px;
    color: #fff;
    cursor: pointer;
    cursor: hand;
    display: inline-block;
    background: #2483c1 url("/resources/images/search-icon-white.png") no-repeat center center;
}

#statistic {
    line-height: 100px;
    text-align: center;
    color: #bbb;
    margin-top: 160px;
    font-size: 12px;
}

.statistic-block {
    padding: 0px 60px;
    font-size: 1.7em;
    font-weight: 200;

}

.footer-block {
    font-size: 1.7em;
    font-weight: 200;
}

#footer {
    text-align: center;
    font-size: 0.6em;
    color: #bbb;
}

#search-result {
    padding: 20px 80px 10px 0px;
    width: 1200px;
    text-align: left;
    margin: 0px auto;
    color: #333333;
}

#search-result-header h1 {
    padding-top: 20px;
    margin-bottom: 0px;
    padding-bottom: px;
    color: #b3382c;
    font-size: 1.2em;
}

#search-result-header p {
    margin: 0px;
    font-size: 0.7em;
    color: #888;
}

#search-result-header {
    width: 100%;
    margin-top: -10px;
    padding-bottom: 20px;
    align-content: center;
    background-color: white;
    margin-bottom: 0px;
}

#search-result-title-lookup {
    width: 1200px;
    margin: 0px auto;
    position: relative;
    padding: 0px 80px 0px 0px;
}

#channels {
    width: 1200px;
}

.channel-image img {
    border: none;
    height: 60px;
    width: 60px;
}

.channel-image {
    float: left;
    width: 80px;
    height: 60px;
    text-align: center;
}

.channel-row {
    background: #fff;
    padding: 5px 0px;
    margin: 2px auto;
    border-bottom: 2px solid #e4e4e4;
    width: 1200px;
    height: 67px;
}

.channel-body {
    width: 1100px;
    height: 80px;
    float: left;
    position: relative;
}

.channel-body h2 {
    margin: 0px auto;
    color: #cc6767;
    font-size: 1em;
    height: 20px;
}

.channel-body p {
    color: #888888;
    font-size: 0.8em;
    height: 60px;
}

.channel-body a {
    display: inline-block;
    text-decoration: none;
}

.lookup-image {
    position: absolute;
    float: left;
    width: 100px;
    height: 80px;
    text-align: center;
}

.lookup-image img {
    border: 8px solid white;
    border-radius: 10px;
    height: 100px;
    width: 100px;
    margin-top: -20px;
    margin-left: 20px;
}

.lookup-channel {
    width: 100%;
    display: block;
}

.lookup-description {
    width: 1200px;
    margin: 0px auto;
}

.lookup-body h2 {
    padding-left: 150px;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #b3382c;
    font-size: 1.6em;
    height: 20px;
}

#channel-statistic {
    padding-left: 150px;
    padding-top: 0px;
}

.stat {
    padding-right: 40px;
    font-size: 0.8em;
    color: #999999;
}

.lookup-body a {
    text-decoration: none;
}

.lookup-body p {
    color: #666666;
    font-size: 1em;
    height: 60px;
    padding-top: 0px;
    padding-left: 150px;
}

.lookup-input {
    border-radius: 5px;
    height: 45px;
    margin: 0px 0px 0px 150px;
    width: 500px;
    border: 0px;
    background: #fff;
    color: #666;
    outline: none;
    font-size: 0.9em;
    text-align: left;
    padding-left: 20px;
}

.lookup-button {
    border-radius: 5px;
    margin-left: 20px;
    border: 0px;
    height: 45px;
    width: 100px;
    color: #fff;
    cursor: pointer;
    cursor: hand;
    font-size: 0.9em;
    background: #2483c1;
}

.lookup-input-block {
    width: 1200px;
    margin: 10px 10px 0 0;
}

#lookup-input-block-feed {
    display: none;
    padding-top: 10px;
}

#channel-banner {
    padding-top: 20px;
    text-align: center;
}

#channel-banner img {
    width: 1200px;
}

#filter-form h3 {
    padding-left: 150px;
    font-size: 1.3em;
    color: #666666;
    margin-bottom: 5px;
}

.lookup-form-description {
    color: #666666;
    font-size: 0.85em;
    padding-top: 0px;
    padding-bottom: 10px;
    padding-left: 150px;
    width: 400px;
}

#filter-form {
    margin-top: 30px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

#channel-not-found{
    color: #666666;
    font-size: 1em;
    height: 60px;
    padding-top: 30px;
    padding-left: 150px;
}
